@media (max-width: 992px) {
    .carousel__inner {
        ul.slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                list-style: none;
                margin: 0 10px;
            }
            .slick-active {
                button {
                    background-color: black;
                    border: 1px solid #fff;
                    transform: 0.9s all;
                }
            }
            button {
                border: 1px solid black;
                font-size: 0;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border-radius: 50%;
            }
            
        }
        
    }
    .carousel__inner {    
        .slick-slide img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}


@media (max-width: 768px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
                }
        }
        &__phone {
            font-size: 15px;
        }
        &__contacts {
            align-items: center;
        }
    }



    .button {
        margin-top: 3px;
        height: 30px;
        border-radius: 9px;
        font-size: 10px;
        line-height: 15px;
        &_main {
            font-size: 14px;
            width: 250px;
            height: 45px;
            margin-top: 35px;
        }
        &_submit {
            width: 153px;
            border-radius: 5px;
            border: none;
            font-weight: 500;
            line-height: 19px;
            width: 100%;
            height: 58px;
            font-size: 16px;
            color: #fff;
        }
    }

    .promo {
        padding: 18px 0 44px 0;
        min-height: 600px;
        &__header {
            font-size: 40px;
            line-height: 40px;
        }
        &__subheader {
            margin-top: 11px;
            line-height: 20px;
            font-size: 22px;
        }
        &__icons {
            margin-top: 45px;
            width: 375px;
            font-size: 13px;
        }
        &_icon {
            img {
                margin-bottom: 10px;
            }
        }
        &__link {
            font-size: 14px;
            margin-top: 10px;
        }
    }

    .response__item {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
        border-top: 13px solid rgb(0, 71, 138);
        background-color: rgb(67, 214, 255);
        margin: 0;
        &:last-child {
            border-bottom: 13px solid rgb(0, 71, 138);
        }
        div {
            width: 80%;
            display: flex;
            align-items: center;
            text-align: center;
            .response__descr {
                padding: 7px;
                margin-bottom: 10px;
            }
            .xs-hidden {
                display: none;
            }
            .response__subtitle {
                margin-bottom: 6px;
            }
        }
    }
    .response__img {
        margin-bottom: 10px;
        padding-right: 0px;
    }
}




@media (max-width: 576px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__official {
            font-size: 9px;
            span {
                font-size: 13px;
                }
        }
        &__phone {
            font-size: 11px;
        }
    }
    .footer__info {
        max-width: 90%;
        max-height: 40%;
    }

    .button {
        width: 127px;
        margin-top: 3px;
        height: 25px;
        border-radius: 13px;
        font-size: 8px;
        line-height: 13px;
        &_main {
            font-size: 12px;
            width: 200px;
            height: 40px;
            margin-top: 25px;
        }
    }


    .promo {
        padding: 18px 0 20px 0;
        min-height: 510px;
        &__header {
            font-size: 30px;
            line-height: 30px;
        }
        &__subheader {
            margin-top: 9px;
            line-height: 17px;
            font-size: 18px;
        }
        &__icons {
            margin-top: 30px;
            width: 350px;
            font-size: 10px;
        }
        &_icon {
            img {
                margin-bottom: 5px;
            }
        }
        &__link {
            font-size: 13px;
            margin-top: 8px;
        }
    }

    .response__descr {
        font-size: 13px;
    }
    .response__item div {
        width: 97%;
    }




    .advantages {
        padding: 40px 0 30px 0;
        .title {
        font-size: 25px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            }
        &__text {
            font-size: 20px;
        }
        &__descr {
            padding: 18px 0 44px 0;
            font-size: 16px;
        }
        &__icon {
            img {
                margin: 10px 0 26px 0;
            }
        }
    }
}




@media (max-width: 576px) {
    .header {
        &__logo {
            width: 110px;
        }
        &__official {
            font-size: 8px;
            span {
                font-size: 9px;
                }
        }
        &__phone {
            font-size: 9px;
        }
    }
    .button {
        width: 115px;
        margin-top: 2px;
        height: 23px;
        border-radius: 10px;
        font-size: 8px;
        font-weight: 900;
        &_main {
            display: block;
            margin: 0 auto;
            width: 220px;
            margin-top: 32px;
            height: 40px;
            border-radius: 13px;
            font-size: 11px;
        }
        &_submit {
            width: 153px;
            border-radius: 5px;
            border: none;
            font-weight: 500;
            line-height: 19px;
            width: 70%;
            height: 58px;
            font-size: 16px;
            color: #fff;
        }
    }
    .title_left {
        font-size: 24px;
        text-align: center;
    }
    .consultation__descr {
        font-size: 18px;
        text-align: center;
    }
    .feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }

    .promo__header {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    .promo__subheader {
            margin-top: 4px;
            line-height: 11px;
            font-size: 12px;
        }
    .promo__icons {
        width: 100%;
        margin-top: 32px;
        font-size: 12px;
    }
    .promo__link {
        display: block;
        margin: 0 auto;
        font-size: 13px;
        margin-top: 12px;
    }
    .consultation {
        min-height: 560px;
        padding: 65px 0 50px 0;
    }




    .catalog {
        &__tabs {
            margin-top: 70px;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            padding-left: 0px;
            &_xs-visual {
                display: none;
            }
            div {
                font-size: 11px;
                font-weight: 900;
            }
        }
    }
}